.tableRowHeader {
  background-color: #EAF2FF;
  cursor: pointer;
}

.up {
  background-image: url("../../../../assets/up_arrow.png");
}
.down {
  background-image: url("../../../../assets/down_arrow.png");
}
.default {
  background-image: url("../../../../assets/default.png");
}
.up,
.down,
.default {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}
